html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-size: 10px;
}

body {
  position: relative;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #c6c8c8;
  box-shadow:
    inset 0 0 300px black,
    0 0 30px #fff,
    -10px 0 30px #fffbbf,
    10px 0 30px #8af8ff;
}

.buttonwrapper > button {
  cursor: pointer;
  margin: 0.5%;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  border: 2px solid #ed837d;
  box-shadow:
    1px 0 #ea6861,
    0 1px #ea6861,
    2px 1px #ea6861,
    1px 2px #da4e4a,
    3px 2px #da4e4a,
    2px 3px #da4e4a,
    3px 3px #9b4142,
    4px 4px #9b4142,
    5px 5px 1px #000;
}

.notes {
  position: relative;
  top: -30px;
  left: -20px;
  width: 60%;
  height: 25px;
  float: left;
  padding: 0 2%;
  margin-left: 4%;
  margin-bottom: 26%;
  border-radius: 50%;
  border-style: double;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: #585a5a;
  text-align: center;
  line-height: 30px;
  background-color: #38363e;
  opacity: 0.7;
  box-shadow:
    0 0 #4f4c27,
    0 0 #4f4c27,
    1px 1px #524e28,
    1px 1px #524e28,
    2px 2px #454222,
    2px 2px #454222,
    4px 4px 2px #000;
}

.selected {
  background-color: white;
  opacity: 0.7;
}

.fa {
  font-size: 5rem;
  color: #da4e4a;
  opacity: 0.8;
  text-shadow:
    0 0 2px #fff,
    0 0 5px #000;
  animation: neon1 1s ease-in-out infinite alternate;
}

.sequence-indicator {
  position: relative;
  padding: 0.9%;
  border-radius: 50%;
  left: 6.9%;
  top: 73px;
  margin-right: 4%;
}

#KD-note,
#SD-note,
#HH-note,
#CL-note,
#SH-note {
  font-size: 15px;
}

.rows {
  position: relative;
  width: 100%;
  left: 9%;
  top: 7.5%;
}

#indicator {
  position: absolute;
  width: 6%;
  height: 80%;
  top: 22.2%;
}

#table {
  position: absolute;
  width: 110%;
  height: 91%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(42, 42, 42, 0.6);
  border: 2px solid white;
  border-radius: 8px;
  box-shadow:
    inset 0 0 400px #18170b,
    0 0 0 5px hsl(0, 0%, 40%),
    0 0 30px white,
    0 0 40px grey;
}

#app {
  height: 80%;
  width: 80%;
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#playbutton {
  position: absolute;
  margin: 0 auto;
  width: 15%;
  height: 16%;
  bottom: 10%;
  right: -28%;
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: #c6c8c8;
  box-shadow:
    inset 0 0 30px black,
    0 0 10px #fff,
    -5px 0 10px #fffbbf,
    5px 0 10px #8af8ff;
}

@keyframes neon1 {
  from {
    text-shadow:
      0 0 2px #ff8f8a,
      0 0 4px #ff8f8a,
      0 0 6px #ff8f8a,
      0 0 8px #ea6861,
      0 0 10px #ea6861,
      0 0 12px #ea6861,
      0 0 14px #ea6861,
      0 0 20px #fff;
  }

  to {
    text-shadow:
      0 0 1px #ff8f8a,
      0 0 2px #ff8f8a,
      0 0 3px #ff8f8a,
      0 0 4px #ea6861,
      0 0 5px #ea6861,
      0 0 6px #ea6861,
      0 0 7px #ea6861,
      0 0 10px #fff;
  }
}
